html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

header p {
  font-size: 1.125rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

nav a {
  text-decoration: none;
}
